.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 88px;
}

.categories .section-title {
  width: 312px;
  margin: 0 auto;
}

.card-botao.single-line {
  padding-top: 50px;
}

.card-botao.single-line.transfer img {
  margin: 10px 0 20px;
}

.card-botao {
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  width: 312px;
  height: 220px;
  padding: 41px 16px;
  border-radius: 16px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-decoration: none;
}

.card-botao h3 {
  margin: 0;
  text-decoration: none;
  color: var(--text-primary-color);
  font-weight: var(--title-weight);
  font-size: 28px;
  font-style: Bold;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .categories .section-title {
    width: 100%;
  }

  .card-botao {
    padding: 24px 16px;
  }
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .card-botao {
    width: 430px;
  }
}

@media screen and (min-width: 1440px) {
  .card-botao {
    width: 280px;
  }
  .categories-cards {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
