.destinations {
  display: flex;
  flex-direction: column;
  width: 312px;
  margin: 0 auto;
}

.section-title.destinations {
  width: 280px;
  margin: 0 auto;
}

.cards-destinations {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card-destination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-destination h2 {
  width: 100%;
  text-align: start;
}

.card-destination p {
  line-height: 32px;
  font-size: 20px;
  margin-bottom: 24px;
}

.button.destination {
  width: 100%;
  border-radius: 8px;
  text-align: center;
}

.imagem.tablet,
.imagem.desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }

  .section-title.destinations {
    width: 100%;
  }
  .imagem.mobile,
  .imagem.desktop {
    display: none;
  }

  .imagem.tablet {
    display: block;
  }

  .card-destination {
    align-items: start;
  }

  .button.destination {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 100%;
    align-items: center;
  }

  .cards-destinations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80%;
  }

  .card-destination {
    max-width: 50%;
  }

  .imagem.mobile,
  .imagem.tablet {
    display: none;
  }

  .imagem.desktop {
    display: block;
    max-width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .cards-destinations {
    max-width: 100%;
  }

  .card-destination {
    max-width: 588px;
  }

  .imagem.mobile,
  .imagem.tablet {
    display: none;
  }

  .imagem.desktop {
    display: block;
    max-width: 100%;
  }
}
