header {
  width: 100%;
  height: 138px;
  background-color: var(--background-tertiary-color);
  position: relative;
}

.logo-desktop {
  display: none;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.logo .logo-mobile {
  width: 68px;
  height: 64px;
  margin-left: 24px;
}

.menu-hamburger {
  margin-right: 24px;
}

.menu-hamburger:hover {
  cursor: pointer;
}

.div-header {
  padding: 37px 24px 37px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

.list-links {
  list-style: none;
  font-family: "mon";
}

.item {
  margin: 16px 0;
}

.item a {
  color: var(--text-secondary-color);
  text-decoration: none;
  line-height: 25px;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
  font-family: "Montserrat";
}

@media screen and (min-width: 768px) {
  label,
  input {
    display: none;
  }

  .div-menu {
    margin-top: 0;
    width: 467px;
  }
  nav {
    display: block;
  }

  .list-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .item {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .logo-desktop {
    display: block;
    width: 260px;
    height: 64px;
    margin: 0;
  }

  .logo-mobile {
    display: none;
  }

  .item a:hover {
    color: var(--primary-color);
  }

  .div-header {
    padding: 38px 120px;
  }

  .list-links {
    display: flex;
    gap: 40px;
  }
}
