header {
  width: 100%;
  height: 138px;
  background-color: var(--background-tertiary-color);
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.logo img {
  width: 68px;
  height: 64px;
  margin-left: 24px;
}

.menu-hamburger {
  margin-right: 24px;
}

.menu-hamburger:hover {
  cursor: pointer;
}

.div-header {
  padding: 37px 24px 37px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: none;
}
