.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-testimonials {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 312px;
}

.header-testimonials p {
  line-height: 28px;
  font-size: 16px;
}

.footer-testimonials {
  display: flex;
  gap: 24px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-testimonials article {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-content h4 {
  margin: 0;
}

.stars {
  font-size: 32px;
  color: #b81515;
}
